.full-hd-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.full-hd-full-hd {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(250, 250, 255, 1);
}
.full-hd-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 38px;
  position: absolute;
}
.full-hd-rectangle {
  top: 354px;
  left: 525px;
  width: 825px;
  height: 372px;
  position: absolute;
  border-radius: 15px;
}
.full-hd-text {
  top: 203px;
  left: 525px;
  color: rgba(28, 28, 28, 1);
  width: 825px;
  height: auto;
  position: absolute;
  font-size: 72px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-group {
  top: 0px;
  left: 104px;
  width: 164px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.full-hd-rectangle21 {
  top: 0px;
  left: 0px;
  width: 164px;
  height: 38px;
  position: absolute;
}
.full-hd-text02 {
  top: 4.810127258300781px;
  left: 20.435333251953125px;
  color: rgba(28, 28, 28, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-group2 {
  top: 0px;
  left: 1031px;
  width: 155px;
  height: 37.86097717285156px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(173, 173, 173, 0.5411764979362488);
}
.full-hd-text04 {
  top: 4.824390411376953px;
  left: 0.783935546875px;
  color: rgba(28, 28, 28, 1);
  width: 146px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-group21 {
  top: 0px;
  left: 1258px;
  width: 155px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(173, 173, 173, 0.5411764979362488);
}
.full-hd-text06 {
  top: 4.860465049743652px;
  left: 9.5px;
  color: rgba(28, 28, 28, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-group3 {
  top: 0px;
  left: 1478px;
  width: 155px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(173, 173, 173, 0.5411764979362488);
}
.full-hd-text08 {
  top: 4.860465049743652px;
  left: 9.5px;
  color: rgba(28, 28, 28, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-group4 {
  top: 0px;
  left: 1698px;
  width: 155px;
  height: 38px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(173, 173, 173, 0.5411764979362488);
}
.full-hd-text10 {
  top: 4.860465049743652px;
  left: 9.5px;
  color: rgba(28, 28, 28, 1);
  width: 136px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-text12 {
  top: 310px;
  left: 898px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-group5 {
  top: 111px;
  left: 525px;
  width: 825px;
  height: 46px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(238, 240, 242, 1);
}
.full-hd-text14 {
  top: 6px;
  color: rgba(117, 117, 117, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-rectangle4 {
  top: 111px;
  left: 1258px;
  width: 92px;
  height: 46px;
  position: absolute;
  border-radius: 10px;
}
.full-hd-search {
  top: 250px;
  left: 1478px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.full-hd-shape {
  top: 118px;
  left: 1288.28125px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.full-hd-rectangle5 {
  top: 84px;
  left: 525px;
  width: 70px;
  height: 15px;
  position: absolute;
  border-radius: 10px;
}
.full-hd-rectangle51 {
  top: 84px;
  left: 615px;
  width: 70px;
  height: 15px;
  position: absolute;
  border-radius: 10px;
}
.full-hd-rectangle6 {
  top: 84px;
  left: 705px;
  width: 70px;
  height: 15px;
  position: absolute;
  border-radius: 10px;
}
.full-hd-oval {
  top: 861px;
  left: 1633px;
  width: 100px;
  height: 100px;
  position: absolute;
}
.full-hd-male-user {
  top: 881px;
  left: 1653.9998779296875px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.full-hd-group6 {
  top: 772px;
  left: 523px;
  width: 434.9999694824219px;
  height: 257px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 250, 255, 1);
}
.full-hd-text16 {
  top: 30px;
  left: 141px;
  color: rgba(117, 117, 117, 1);
  width: 152px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-group7 {
  top: 772px;
  left: 978px;
  width: 372px;
  height: 257px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 250, 255, 1);
}
.full-hd-text18 {
  top: 21.9998779296875px;
  left: 55.5791015625px;
  color: rgba(117, 117, 117, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-text20 {
  top: 861px;
  left: 723px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-rectangle8 {
  top: 892px;
  left: 571px;
  width: 338px;
  height: 114px;
  position: absolute;
  border-radius: 10px;
}
.full-hd-text22 {
  top: 861px;
  left: 723px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-text24 {
  top: 862px;
  left: 1147px;
  color: rgba(117, 117, 117, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.full-hd-rectangle9 {
  top: 893px;
  left: 1031px;
  width: 273px;
  height: 114px;
  position: absolute;
  border-radius: 10px;
}
.full-hd-rectangle10 {
  top: 354px;
  left: 73px;
  width: 367px;
  height: 372px;
  position: absolute;
  border-radius: 8px;
}
.full-hd-text26 {
  top: 512px;
  left: 191px;
  color: rgba(117, 117, 117, 1);
  width: 113px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
